.desktop2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop2-desktop2 {
  width: 100%;
  height: 2422px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(244, 240, 234, 1);
}
.desktop2-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 545px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.desktop2-rectangle3 {
  top: 1149px;
  left: 0px;
  width: 1920px;
  height: 540px;
  position: absolute;
}
.desktop2-rectangle5 {
  top: 2191px;
  left: 0px;
  width: 1920px;
  height: 231px;
  position: absolute;
}
.desktop2-frame20 {
  gap: 10px;
  top: 2301px;
  left: 266px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame19 {
  gap: 10px;
  top: 2268px;
  left: 266px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle4 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 545px;
  position: absolute;
}
.desktop2-rectangle30 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 78px;
  position: absolute;
}
.desktop2-ncclogo5copy1 {
  top: 6px;
  left: 43px;
  width: 139px;
  height: 53px;
  position: absolute;
}
.desktop2-frame9 {
  gap: 9px;
  top: 25px;
  left: 1808px;
  width: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.desktop2-line1 {
  width: 23px;
  height: 0px;
}
.desktop2-line2 {
  width: 23px;
  height: 0px;
}
.desktop2-line3 {
  width: 23px;
  height: 0px;
}
.desktop2-searchbarpage2 {
  top: 18px;
  left: 409px;
  width: 241px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle28 {
  top: 0px;
  left: 0px;
  width: 406px;
  height: 34px;
  position: absolute;
  border-radius: 38px;
}
.desktop2-searchiconpng211 {
  top: 4px;
  left: 10px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.desktop2-text04 {
  top: 5px;
  left: 45px;
  color: rgba(182, 182, 182, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame14 {
  gap: 10px;
  top: 2235px;
  left: 107px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame21 {
  gap: 10px;
  top: 2334px;
  left: 266px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame26 {
  gap: 10px;
  top: 2334px;
  left: 502px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame23 {
  gap: 10px;
  top: 2235px;
  left: 502px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame24 {
  gap: 10px;
  top: 2268px;
  left: 502px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame27 {
  gap: 10px;
  top: 2301px;
  left: 502px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame17 {
  gap: 10px;
  top: 2334px;
  left: 107px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame18 {
  gap: 10px;
  top: 2235px;
  left: 266px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame15 {
  gap: 10px;
  top: 2268px;
  left: 107px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame16 {
  gap: 10px;
  top: 2301px;
  left: 106px;
  width: 150px;
  height: 28px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame141 {
  gap: 10px;
  top: 2245px;
  left: 1222px;
  width: 200px;
  height: 59px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text26 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame22 {
  gap: 10px;
  top: 2246px;
  left: 1568px;
  width: 203px;
  height: 59px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop2-text28 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle281 {
  top: 2319px;
  left: 1526px;
  width: 287px;
  height: 41px;
  position: absolute;
  border-radius: 38px;
}
.desktop2-text33 {
  top: 2326px;
  left: 1559px;
  color: rgba(182, 182, 182, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text35 {
  top: 2392px;
  left: -24px;
  color: rgba(255, 255, 255, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-socialmedia20834569607201 {
  top: 2320px;
  left: 1226px;
  width: 99px;
  height: 42px;
  position: absolute;
}
.desktop2-socialmedia20834569607202 {
  top: 2317px;
  left: 1314px;
  width: 99px;
  height: 42px;
  position: absolute;
}
.desktop2-frame28 {
  gap: 10px;
  top: 542px;
  left: 0px;
  width: 58px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.desktop2-text37 {
  color: rgba(18, 111, 165, 1);
  height: auto;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame29 {
  gap: 10px;
  top: 542px;
  left: 67px;
  width: 97px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.desktop2-text39 {
  color: rgba(18, 111, 165, 1);
  height: auto;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-line4 {
  top: 560px;
  left: 55px;
  width: 14px;
  height: 0px;
  position: absolute;
}
.desktop2-rectangle29 {
  top: 642px;
  left: 1050px;
  width: 582px;
  height: 416px;
  position: absolute;
  border-radius: 7px;
}
.desktop2-text41 {
  top: 764px;
  left: 287px;
  color: rgba(10, 92, 126, 1);
  width: 709px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text52 {
  top: 1852px;
  left: 1122px;
  color: rgba(10, 92, 126, 1);
  width: 600px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text59 {
  top: 636px;
  left: 504px;
  color: rgba(10, 92, 126, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame64 {
  gap: 150px;
  top: 1195px;
  left: 155px;
  width: 1605px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.desktop2-parkoptionhover {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle32 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-component8 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3201 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-component9 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3202 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-component10 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3203 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-component11 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3204 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-frame65 {
  gap: 150px;
  top: 1433px;
  left: 155px;
  width: 1605px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.desktop2-parkoptionhover1 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3205 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-component81 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3206 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-component91 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3207 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-component101 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3208 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-component111 {
  width: 201px;
  height: 202px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle3209 {
  width: 201px;
  height: 202px;
  border-radius: 100px;
}
.desktop2-carousel {
  top: 1748px;
  left: 177px;
  width: 882px;
  height: 392px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-frame33 {
  gap: 320px;
  top: 0px;
  left: 70px;
  width: 736px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-rectangle39 {
  width: 734px;
  height: 392px;
  border-radius: 13px;
}
.desktop2-rectangle38 {
  width: 734px;
  height: 392px;
  border-radius: 13px;
}
.desktop2-rectangle35 {
  width: 734px;
  height: 392px;
  border-radius: 13px;
}
.desktop2-rectangle36 {
  width: 734px;
  height: 392px;
  border-radius: 13px;
}
.desktop2-rectangle37 {
  width: 734px;
  height: 392px;
  border-radius: 13px;
}
.desktop2-arrowbutton {
  top: 159px;
  left: 780px;
  width: 92px;
  height: 92px;
  position: absolute;
}
.desktop2-arrowbutton1 {
  top: 159px;
  left: 4px;
  width: 92px;
  height: 92px;
  position: absolute;
}
.desktop2-text61 {
  top: 1728px;
  left: 250px;
  color: rgba(10, 92, 126, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text63 {
  top: 1123px;
  left: 135px;
  color: rgba(10, 92, 126, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-newestmenu {
  gap: 32px;
  top: 15px;
  left: 1073px;
  width: 680px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.desktop2-frame42 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop2-text65 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame43 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop2-text67 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame44 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop2-text69 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame45 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop2-text71 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-frame46 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop2-text73 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
