.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 2422px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(244, 240, 234, 1);
}
.desktop1-rectangle2 {
  top: 0px;
  left: -10px;
  width: 1942px;
  height: 545px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.desktop1-rectangle3 {
  top: 1021px;
  left: 0px;
  width: 1920px;
  height: 175px;
  position: absolute;
}
.desktop1-rectangle5 {
  top: 2191px;
  left: 0px;
  width: 1920px;
  height: 231px;
  position: absolute;
}
.desktop1-frame20 {
  gap: 10px;
  top: 2301px;
  left: 266px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame19 {
  gap: 10px;
  top: 2268px;
  left: 266px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle4 {
  top: 0px;
  left: -10px;
  width: 1930px;
  height: 545px;
  position: absolute;
}
.desktop1-rectangle8 {
  top: -1px;
  left: 0px;
  width: 1920px;
  height: 79px;
  position: absolute;
}
.desktop1-ncclogo5copy1 {
  top: 6px;
  left: 43px;
  width: 139px;
  height: 53px;
  position: absolute;
}
.desktop1-ncclogo5copy2 {
  top: 107px;
  left: 768px;
  width: 384px;
  height: 146px;
  position: absolute;
}
.desktop1-text04 {
  top: 603px;
  left: 850px;
  color: rgba(10, 92, 126, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text06 {
  top: 1367px;
  left: 963px;
  color: rgba(32, 112, 108, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame8 {
  gap: 59px;
  top: 686px;
  left: 415px;
  width: 1091px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.desktop1-rectangle11 {
  width: 171px;
  height: 171px;
}
.desktop1-rectangle12 {
  width: 171px;
  height: 171px;
}
.desktop1-rectangle13 {
  width: 171px;
  height: 171px;
}
.desktop1-rectangle14 {
  width: 171px;
  height: 171px;
}
.desktop1-rectangle15 {
  width: 171px;
  height: 171px;
}
.desktop1-text08 {
  top: 866px;
  left: 415px;
  color: rgba(10, 92, 126, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text10 {
  top: 866px;
  left: 645px;
  color: rgba(10, 92, 126, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame66 {
  gap: 10px;
  top: 1396px;
  left: 766px;
  width: 822px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
}
.desktop1-text12 {
  color: rgba(10, 92, 126, 1);
  width: 802px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text13 {
  font-weight: 500;
}
.desktop1-text17 {
  font-weight: 400;
}
.desktop1-text23 {
  top: 866px;
  left: 1336px;
  color: rgba(10, 92, 126, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text25 {
  top: 866px;
  left: 1106px;
  color: rgba(10, 92, 126, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text27 {
  top: 866px;
  left: 854px;
  color: rgba(10, 92, 126, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle16 {
  top: 1297px;
  left: 348px;
  width: 390px;
  height: 323px;
  position: absolute;
  box-sizing: content-box;
  border-style: solid;
  border-width: 5px;
}
.desktop1-text29 {
  top: 998px;
  left: 155px;
  color: rgba(10, 92, 126, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame68 {
  gap: 22px;
  top: 359px;
  left: 681px;
  width: 548px;
  display: flex;
  padding: 3px 19px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 38px;
  background-color: rgba(244, 244, 244, 1);
}
.desktop1-searchiconpng211 {
  width: 32px;
  height: 32px;
}
.desktop1-frame67 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop1-text31 {
  color: rgba(182, 182, 182, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame14 {
  gap: 10px;
  top: 2235px;
  left: 107px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text33 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame21 {
  gap: 10px;
  top: 2334px;
  left: 266px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text35 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame26 {
  gap: 10px;
  top: 2334px;
  left: 502px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame23 {
  gap: 10px;
  top: 2235px;
  left: 502px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text39 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame24 {
  gap: 10px;
  top: 2268px;
  left: 502px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text41 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame27 {
  gap: 10px;
  top: 2301px;
  left: 502px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text43 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame17 {
  gap: 10px;
  top: 2334px;
  left: 107px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text45 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame18 {
  gap: 10px;
  top: 2235px;
  left: 266px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text47 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame15 {
  gap: 10px;
  top: 2268px;
  left: 107px;
  width: 149px;
  height: 28px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text49 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame16 {
  gap: 10px;
  top: 2301px;
  left: 106px;
  width: 150px;
  height: 28px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text51 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame141 {
  gap: 10px;
  top: 2248px;
  left: 1223px;
  width: 200px;
  height: 59px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text53 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame22 {
  gap: 10px;
  top: 2249px;
  left: 1569px;
  width: 203px;
  height: 59px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  justify-content: center;
  background-color: rgba(9, 100, 153, 1);
}
.desktop1-text55 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle28 {
  top: 2322px;
  left: 1527px;
  width: 287px;
  height: 41px;
  position: absolute;
  border-radius: 38px;
}
.desktop1-text60 {
  top: 2332px;
  left: 1559px;
  color: rgba(182, 182, 182, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text62 {
  top: 2392px;
  left: -24px;
  color: rgba(255, 255, 255, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-socialmedia20834569607201 {
  top: 2323px;
  left: 1227px;
  width: 99px;
  height: 42px;
  position: absolute;
}
.desktop1-socialmedia20834569607202 {
  top: 2320px;
  left: 1315px;
  width: 99px;
  height: 42px;
  position: absolute;
}
.desktop1-frame60 {
  gap: 180px;
  top: 1050px;
  left: 155px;
  width: 1612px;
  display: flex;
  position: absolute;
  align-items: center;
}
.desktop1-featuredpostshover {
  width: 268px;
  height: 119px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-rectangle29 {
  width: 268px;
  height: 119px;
  border-radius: 7px;
}
.desktop1-featuredpostshover1 {
  width: 268px;
  height: 119px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-rectangle291 {
  width: 268px;
  height: 119px;
  border-radius: 7px;
}
.desktop1-featuredpostshover2 {
  width: 268px;
  height: 119px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-rectangle292 {
  width: 268px;
  height: 119px;
  border-radius: 7px;
}
.desktop1-featuredpostshover3 {
  width: 268px;
  height: 119px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-rectangle293 {
  width: 268px;
  height: 119px;
  border-radius: 7px;
}
.desktop1-newestmenu {
  gap: 32px;
  top: 15px;
  left: 1073px;
  width: 680px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.desktop1-frame42 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop1-text64 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame43 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop1-text66 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame44 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop1-text68 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame45 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop1-text70 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame46 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop1-text72 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame9 {
  gap: 9px;
  top: 25px;
  left: 1807px;
  width: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.desktop1-line1 {
  width: 23px;
  height: 0px;
}
.desktop1-line2 {
  width: 23px;
  height: 0px;
}
.desktop1-line3 {
  width: 23px;
  height: 0px;
}
.desktop1-buttonnew {
  gap: 10px;
  top: 424px;
  left: 792px;
  width: 133px;
  height: 55px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-image: radial-gradient(circle at right, rgb(4, 91, 73) 1.00%,rgb(22, 52, 81) 100.00%);
}
.desktop1-text74 {
  color: rgba(167, 234, 255, 1);
  height: auto;
  font-size: 17px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-buttonnew1 {
  gap: 10px;
  top: 424px;
  left: 943px;
  width: 185px;
  height: 55px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-image: radial-gradient(circle at right, rgb(4, 91, 73) 0.00%,rgb(22, 52, 81) 100.00%);
}
.desktop1-text76 {
  color: rgba(167, 234, 255, 1);
  height: auto;
  font-size: 17px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame62 {
  gap: 14px;
  top: 1747px;
  left: 803px;
  width: 318px;
  display: flex;
  padding: 12px 32px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(22, 212, 124, 1) 0%, rgba(18, 111, 165, 1) 100%);
}
.desktop1-rectangle19 {
  width: 254px;
  height: 241px;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.desktop1-buttonnew2 {
  gap: 10px;
  width: 198px;
  height: 82px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-image: radial-gradient(circle at right, rgb(4, 91, 73) 0.00%,rgb(22, 52, 81) 100.00%);
}
.desktop1-text78 {
  color: rgba(167, 234, 255, 1);
  height: auto;
  font-size: 26px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame61 {
  gap: 14px;
  top: 1747px;
  right: 157px;
  width: 318px;
  display: flex;
  padding: 12px 32px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(22, 212, 124, 1) 0%, rgba(18, 111, 165, 1) 100%);
}
.desktop1-rectangle20 {
  width: 254px;
  height: 241px;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.desktop1-buttonnew3 {
  gap: 10px;
  width: 198px;
  height: 82px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-image: radial-gradient(circle at right, rgb(4, 91, 73) 0.00%,rgb(22, 52, 81) 100.00%);
}
.desktop1-text80 {
  color: rgba(167, 234, 255, 1);
  height: auto;
  font-size: 26px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-buttonnew4 {
  gap: 10px;
  top: 1532px;
  left: 1067px;
  width: 210px;
  height: 42px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-image: radial-gradient(circle at right, rgb(4, 91, 73) 0.00%,rgb(22, 52, 81) 100.00%);
}
.desktop1-text82 {
  color: rgba(167, 234, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame63 {
  gap: 14px;
  top: 1751px;
  left: 169px;
  width: 314px;
  display: flex;
  padding: 12px 28px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(22, 212, 124, 1) 0%, rgba(18, 111, 165, 1) 100%);
}
.desktop1-rectangle18 {
  width: 258px;
  height: 241px;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.desktop1-buttonnew5 {
  gap: 10px;
  width: 198px;
  height: 82px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-image: radial-gradient(circle at right, rgb(4, 91, 73) 0.00%,rgb(22, 52, 81) 100.00%);
}
.desktop1-text84 {
  color: rgba(167, 234, 255, 1);
  height: auto;
  font-size: 26px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
